.enter{
	color:red;
	border:solid;
	border-color:red;
	border-radius:5px;
	font-family:courier;
	font-size:xx-large;
	justify-content:center;
	text-align:center;
	align-items:center;
	font-family:courier;
	text-decoration:none;
}

a{
	text-decoration:none;
}

body{
  display:flex;
  flex-direction:column;
  margin:0;
  padding:0;
  height:100vh;
  background-color:black;
  color:white;
  font-family:courier;
}

header{
	background-image:url("./giphy.gif");
	background-position:center;
	background-size:cover;
	padding:20px;
	margin:0;
	display:table;
	align-items:center;
	flex:1;
	color:white;
	font-family:courier;
	text-align:center;
}

body{
	text-align:center;
}

p{
	font-family:courier;
	font-size: medium;
	text-align:left;
}
  
