*{
	box-sizing:border-box;
}

a{
	text-decoration:none;
}

html,
body{
	background-color:black;
	align-items:center;
	margin:0;
	padding:0;
	display:flex;
	flex-direction:column;
	overflow-x:hidden;
	justify-content:center;
	font-family:typewriter;
	font-size:xx-large;
	height:100vh;
	max-width:100%;
}

.tinsel-town{
	text-decoration:none;
	border:red solid;
	border-radius:10px;
	text-align:center;
	background-image:url("./1FAF0F43-EC5F-438B-A944-B110709E02CC.jpeg");
	background-position:top;
	background-size:cover;
	background-repeat:no-repeat;
	color:red;
	text-shadow: 3px 3px 5px red;
	padding:20px;
}

.tt{
	color:black;
	text-decoration:none;
	font-family:courier;
	font-size:xx-large;
	text-shadow:3px 3px 5px red;
	justify-content:center;
	align-items:center;
}

h1{
	text-align:center;
	justify-content:center;
	
}

.main{
	text-decoration:none;
	background-image:url("./IMG_0797.gif");
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	border:red solid;
	border-radius:1px;
	max-width:100%;
	align-items:center;
	justify-content:center;
	color:white;
	text-shadow:3px 3px 5px black;
	height:400px;
}

.first-strike{
	text-decoration:none;
	text-align:center;
	justify-content:center;
	padding:20px;
	border:solid;
	border-color:black;
	color:white;
	text-shadow:3px 3px 5px black;
	border-radius:5px;
	height:100vh;
	max-width:100%;
	font-family:courier;
	font-size:xx-large;
	display:flex;
	align-items:center;
}

.strike1{
	display:flex;
	flex-direction:column;
	background-image:url("./IMG_0799.GIF");
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	height:100vh;
	max-width:100%;
	justify-content:center;
	align-items:center;
	padding:20px;
}

.mug2{
	display:flex;
	flex-direction:column;
	background-image:url("./IMG_0804.jpeg");
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	height:100vh;
	max-width:100%;
	justify-content:center;
	align-items:center;
	font-family:mono;
	font-size:xx-large;
	padding:20px;
}

.mug{
	text-decoration:none;
	justify-content:center;
	padding:20px;
	border:solid;
	border-color:red;
	color:black;
	text-shadow:3px 3px 5px white;
	border-radius:5px;
	height:100vh;
	max-width:100%;
	font-family:cursive;
	font-size:xx-large;
	display:flex;
	align-items:center;
	background-image:url("./IMG_0803.png");
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
}

.mug2-1{
	text-decoration:none;
	font-family:courier;
	font-size:xx-large;
	color:white;
	text-shadow:3px 3px 5px black;
	justify-content:center;
	align-items:center;
}

.warmer{
	border:red solid;
	border-radius:5px;
	text-align:center;
	justify-content:center;
	display:flex;
	flex-direction:column;
	max-width:100%;
	font-family:courier;
	color:white;
	text-shadow:3px 3px 5px red;
	padding:20px;	
}

.warmer2{
	text-decoration:none;
	font-family:courier;
	color:white;
	text-shadow:3px 3px 5px red;
	justify-content:center;
	align-items:center;
}

.uc{
	text-decoration:none;
	font-family:courier;
	font-size:xx-large;
	color:white;
	text-shadow:3px 3px 5px black;
	justify-content:center;
	align-items:center;
}
