*{
	box-sizing:border-box;
}

html,
body{
	background-color:black;
	align-items:center;
	margin:0;
	padding:0;
	display:flex;
	flex-direction:column;
	overflow-x:hidden;
	justify-content:center;
	font-family:typewriter;
	font-size:xx-large;
}

a{
	text-decoration:none;
}

.tinsel-town{
	border:red solid;
	border-radius:10px;
	text-align:center;
	background-image:url("./1FAF0F43-EC5F-438B-A944-B110709E02CC.jpeg");
	background-position:top;
	background-size:cover;
	background-repeat:no-repeat;
	color:red;
	text-shadow: 3px 3px 5px red;
	padding:20px;
}

.tt{
	color:black;
}

h1{
	text-align:center;
	justify-contents:center;
}

.main{
	background-image:url("./IMG_0797.gif");
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	border:red solid;
	border-radius:1px;
	width:100%;
	max-width:100%;
	align-items:center;
	justify-content:center;
	text-align:center;
	color:white;
	text-shadow:3px 3px 5px black;
	height:400px;
	flex:1;
}

.first-strike{
	text-align:center;
	justify-content:center;
	padding:20px;
	border:solid black;
	color:red;
	text-shadow:3px 3px 5px white;
	background-image:url("./IMG_0798.jpg");
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	border-radius:5px;
	height:100vh;
	width:100%;
	max-width:100%;
	font-family:cursive;
	font-size:xx-large;
}
